body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

.poll__answers {
  display: none;
}

.poll__answers_active {
  display: flex;
  gap: 20px;
}

.poll__results {
  display: none;
}

.poll__results_active {
  display: block;
}